@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
  --bg:rgb(146, 191, 249);
  --text:blueviolet;
  --cbg:rgb(255, 255, 255);
}
body{
  background-color: var(--bg);
  color: var(--text)
}
a{
  text-decoration: none;
  color: brown;
}
.main-container{
  background-color: var(--cbg);
  width: 1024px;
  margin: auto;
  padding: 0px 50px 0px 50px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  
}